:root {
    --mainText: #111;
    --subText: #4a4a4a;
    --linkText: #888;
    --mainColor: #023586;
}


body {
    color: var(--mainText);

}

/* 제거하기 */
.mobile-menu-wrap {
    display: none;
}

.ham-btm {}

.inner {
    max-width: 1470px;
    padding: 0 1.5em;
    margin: 0 auto;
    /* background-color: rgba(255, 0, 0, 0.2); */
    /* 맨위에 메뉴바! -  공통사항에 부모자격줘야합*/
    position: relative;
}

/* header */
header {
    background: var(--mainColor);
}

.logo {
    text-align: center;
    line-height: 90px;
}

.left-main-menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
}

.main-menu>li>a {
    position: relative;
    display: block;
    color: #fff;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 90px;
}




/*== 탭메뉴 아래 선까지 호버 == */

.main-menu>li>a::after {
    content: "";
    /* a인라인태그라필수 */
    display: block;
    width: 0%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.3s;



}

.main-menu>li:hover>a::after {
    width: 100%;
}

/* ================================ */







/*====== 서브메뉴안에서정렬 위해 div wrap으로 한번 더 감싸둠 ====*/
.main-menu .sub-wrap {
    /* 서브카테고리. 각각 1줄 2줄별로 묶은뒤 붙여쓰는방법이있음 */
    position: absolute;
    background: #fff;
    width: 380px;
    padding: 20px;
    line-height: 3;
    font-size: 14px;
    color: var(--linkText);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: none;
}

.main-menu .sub-menu {
    display: flex;
    /* 서브카테고리 정렬 li별로 떨어지게함 */
    flex-wrap: wrap;

}

.main-menu .sub-menu.li {
    width: 50%;
}

.main-menu>li:hover .sub-wrap {
    display: block;
}

.right-menu {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    display: flex;
    gap: 30px;
}

.right-menu .right-main-menu {
    display: flex;
}


/* ==아이콘 css 파일적용시 가능함 / 글씨 취급됨 + 글씨변경후 css수정하면 변경가능== */
.right-menu .icon-search2 {
    color: #fff;
    font-size: 20px;

}

.right-menu p {
    line-height: 90px;
}



/* main-slider-wrap */
.main-slider-wrap {
    overflow: hidden;
}

.main-slider-wrap .main-slider-list {
    display: flex;
    /* width : calc(100% * 6 /3); - 6개중 3개씩보이게 너비 설정함 */

}

.main-slider-list>li {
    /*flex:grow shrink 너비 (부모의 요소기준)
    
    Q. 부모공간 부족하여 줄어듦...
    A. 시링크 - 요소하나하나 줄이기
    그로우- 남는부모공간 자식들에게 채우라 명령
    ( 끝이 다들어감 1 ) */
    flex: 0 0 calc(100% / 3);

    /* width: 200%; */
    /* 100프로해당3개 모이고 나머지는 옆으로 나가짐 - 정렬 공식 */
}


/* main */
section {
    /* 위아래 / 양옆 */
    padding: 50px 0;
    overflow: hidden;
}

.section-title {
    font-family: "PB", sans-serif;
    font-size: 1.5em;
    margin-bottom: 1.5em;

}

.more-btn {
    position: absolute;
    right: 24px;
    top: 0;
    border-bottom: 2px solid;
    font-size: 14px;
    font-weight: 600;
}

.more-btn>a {
    border-bottom: 2px solid;
    /* 포지션주면 자식이 부모만큼 자리함 */
}

.wrap {}

.list {
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
}

.list>.img-box::after {}


.list>li .text-box h3 {
    font-weight: 400;
    font-family: "PB", sans-serif;
}


.promotion-list-wrap {
    overflow: hidden;
}

.promotion-list {}

.promotion-list>li {


    /* 공백이 3개 24*3 =>72 / 4*/
    flex: 0 0 calc(100% / 4 - 18px);
}

.promotion-list>li .img-box {}

.promotion-list>li .text-box {
    padding: 1.5em 0;
}

.promotion-list>li .text-box h3 {}

.promotion-list>li .text-box p {
    font-size: 12px;
    color: var(--linkText);
    margin-top: 10px;
}

.pb-story-list {
    flex-wrap: wrap;
}

.pb-story-list>li {
    /* 여백은 빼기로 분배..? */
    flex: 0 0 calc(100% / 2 - 24px);
    display: flex;
    gap: 1.5em;
}

.pb-story-list>li>div {
    flex: 1;
}

.pb-story-list>li .img-box {}

.pb-story-list>li .text-box {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.pb-story-list>li .img-box .blue-text {
    font-size: 12px;
    color: var(--mainText);
}

.pb-story-list>li .text-box h3 {
    font-size: 1.5em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.pb-story-list>li .text-box p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: 14px;
    ;
}

.pb-story-list>li .text-box .date {
    font-size: 11px;

}



/* footer */
footer {
    background: #454a56;
    color: #fff;
    padding: 30px 0;
}

footer .inner {
    display: flex;
    justify-content: space-between;
}

footer .inner>div {
    flex: 1;
}


footer h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.mark-wrap ul {
    display: flex;
    gap: 10px;
}

.mark-wrap ul>li {}

.mark-wrap ul li img {
    height: 34px;

}

.sns-list {
    display: flex;
    gap: 12px;
}

.sns-list>li>a {
    display: block;
    background: #fff;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sns-list>li>a img {
    width: 60%;

}

.sns-list>li:first-child>a img {
    width: 35%;
}


.sns-list>li:last-child>a img {
    width: 65%;
}

/* quick-menu */

.quick-menu-wrap {
    position: fixed;
    background: #111;
    right: 24px;
    bottom: 30px;
    padding: 12px;
    color: #ddd;
    font: 11px;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
}

.quick-menu>li {
    padding: 10px 0;

}

.quick-menu>li i {
    display: block;
    font-size: 24px;
}

.quick-menu>li i img {
    width: 24px;
}

/* 반응형 */
@media screen and (max-width:1280px) {

    .left-main-menu,
    .right-menu .right-main-menu {
        display: none;
    }

    .ham-btn {
        display: block;
        position: absolute;
        left: 2em;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 14px;
    }

    .ham-btn>a {
        /* display: block; */
        height: 100%;
        display: flex;
        /* 디스플레이 동시줄경우 아래것이 적요됨 */
        flex-direction: column;
        justify-content: space-between;
    }

    .ham-btn>a span {
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
    }

    /* 모바일메뉴 */
    .mobile-menu-wrap {
        display: block;
        position: fixed;
        background: #fff;
        width: 280px;
        top: 0;
        left: -100%;
        height: 100vh;
        z-index: 10000;
        font-size: 14px;
        color: var(--linkTEXT);

    }




    .mobile-menu-wrap .close-btn {
        padding: 24px 20px;
        border-bottom: 1px solid #ebebeb;
    }

    .mobile-menu-wrap .close-btn span {
        display: block;
        width: 20px;
        height: 2px;
        background: #212121;
    }

    .mobile-menu-wrap .close-btn span:first-child {
        transform: rotate(45deg) translate(1px, 1px);
        /* background: red; */
    }

    .mobile-menu-wrap .close-btn span:last-child {
        transform: rotate(-45deg);
    }

    .mobile-menu-list {
        padding: 24px 20px;
        border-bottom: 1px solid #ebebeb;
        line-height: 2.2;
    }

    .mobile-menu-list .sub-wrap {
        display: none;
        text-indent: 20px;
    }

    .mobile-menu-list>.sub-has>a {
        display: block;
        background: url(../image/not-hover-icon.svg) no-repeat 95% center;
    }

    .mobile-menu-list>.sub-has>a.active {
        background-image: url(../image/hover-icon.svg);
    }

    .mobile-sns-wrap {
        padding: 24px 20px;
    }

    .mobile-sns-wrap .sns-list {
        margin-top: 20px;
    }

    .mobile-sns-wrap .sns-list>li>a {
        border: 1px solid var(--mainColor);
    }


}



@media screen and (max-width:768px) {
    body {
        font-size: 12px;
    }

    /* main-slider 2개*/
    .main-slider-list>li {
        flex: 0 0 50%;
    }

    /* promotion 2개 */
    /* 24px 4개일때는 간격*3개 / 4 (나누기4) => 18px
    18px 2개간격은 *1 / 2 (곱하기1 나누기20)=> 9px*/
    .promotion-list>li {
        flex: 0 0 calc(100% / 2 - 9px);
    }

    .pb-story-list>li {
        flex: 0 0 100%;

    }


    /* footer 2단으로 변경 */
    footer .inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4em;

    }


}

@media screen and (max-width:480px) {

    .main-slider-list>li {
        flex: 0 0 100%;
    }

    .promotion-list>li {
        flex: 0 0 100%;
    }

    .pb-story-list>li .text-box p {
        display: none;
    }

    .more-btn {
        position: static;
        text-align: center;
        margin-top: 20px;
    }

    footer .inner {
        display: block;
        padding-bottom: 100px;
    }

    .quick-menu-wrap {
        bottom: 0;
        right: 0;
        width: 100%;
        padding: 1em;
    }

    .quick-menu-wrap .top-btn {
        display: none;
    }


    .quick-menu {
        display: flex;
        justify-content: space-evenly;
    }

    .quick-menu>li {
        padding: 0;


    }
}